IndentWidth:              8
TabWidth:                 8
UseTab:                   Always
ContinuationIndentWidth:  8

BreakBeforeBraces:        Linux
BraceWrapping:
  AfterControlStatement:  Never
  AfterStruct:		  false
  AfterUnion:		  false
  AfterFunction:	  true
  IndentBraces:		  false

InsertBraces:             false
RemoveBracesLLVM:         true
ColumnLimit:              80
PointerAlignment:         Right
ReferenceAlignment:       Right

AllowShortFunctionsOnASingleLine:     None
AllowShortIfStatementsOnASingleLine:  Never
AllowShortLoopsOnASingleLine:         false
AllowShortBlocksOnASingleLine:        Never
AllowShortCaseLabelsOnASingleLine:    false

AlignAfterOpenBracket: 		      Align
AlignConsecutiveDeclarations: 	      true
AlignConsecutiveAssignments:  	      false
AlignConsecutiveMacros:		      true
AlignOperands:			      true
AlignTrailingComments:		      false


SortIncludes:     		      false
SpaceBeforeParens:                    ControlStatements
SpaceInEmptyParentheses:              false
SpaceAfterCStyleCast:                 false
SpacesInCStyleCastParentheses:        false
SpacesInParentheses:                  false
SpacesInSquareBrackets:               false
SpaceBeforeSquareBrackets:            false
SpaceAroundPointerQualifiers:         Default
SpaceBeforeAssignmentOperators:       true
SpaceAfterLogicalNot:                 false
ReflowComments:			      false

BinPackArguments:           	      true
BinPackParameters:          	      true

AlwaysBreakAfterReturnType: 	      None
BreakBeforeBinaryOperators: 	      None
BreakBeforeTernaryOperators: 	      true
BreakStringLiterals:		      false
MaxEmptyLinesToKeep:		      1
KeepEmptyLinesAtTheStartOfBlocks:     false
IndentCaseLabels:          	      false
IndentGotoLabels:          	      true
